<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    <div class="row">
      <div class="col-md-2">
        Nom
      </div>
      <div class="col-md-2">
        Date
      </div>
      <div class="col-md-6">
        Sujet
      </div>
      <div class="col-md-2">
        Lu
      </div>

    </div>
  </li>

    <% @messages.each do |message| %>


  <li class="list-group-item">
    <div class="row">
      <div class="col-md-2">
        <b><%= message.name %></b>
      </div>
      <div class="col-md-2">
        <%= l(message.created_at, :format => "%d/%m/%Y") %>
      </div>
      <div class="col-md-6">
        <%= message.subject %>
      </div>
      <div class="col-md-2">
        <%= message.read %>
      </div>
      <div class="col-md-12">
        <%= message.description %>
      </div>
    </div>
  </li>

  <% end %>


</ul>
     


